@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    --background-app-rgb: 244, 245, 247;
    --color-primary-900: 74, 109, 255;
    --color-primary-800: 92, 124, 255;
    --color-primary-700: 110, 138, 255;
    --color-primary-600: 128, 153, 255;
    --color-primary-500: 146, 167, 255;
    --color-primary-400: 164, 182, 255;
    --color-primary-300: 183, 197, 255;
    --color-primary-200: 201, 211, 255;
    --color-primary-100: 219, 226, 255;
    --color-primary-50: 228, 233, 255;
    --color-secondary-900: 42, 45, 83;
    --color-secondary-800: 63, 66, 100;
    --color-secondary-700: 85, 87, 117;
    --color-secondary-600: 106, 108, 135;
    --color-secondary-500: 127, 129, 152;
    --color-secondary-400: 148, 150, 169;
    --color-secondary-300: 170, 171, 186;
    --color-secondary-200: 191, 192, 203;
    --color-secondary-100: 212, 213, 221;
    --color-secondary-50: 223, 223, 229;
    --color-secondary-0: 255, 255, 255;
    --color-success: 0, 192, 115;
    --color-warning: 255, 153, 0;
    --color-error: 255, 71, 87;
    --color-red-500: 239, 68, 68;
    --color-red-300: 252, 165, 165;
  }
}

@layer components {

.dir__ltr{
  direction: ltr;
}
  .textField__style {
    @apply w-full py-1 px-2 sm:py-1.5 sm:px-3 text-secondary-500 text-xs sm:text-sm font-light rounded-md bg-secondary-0 outline-none border border-secondary-50/50 focus:shadow-input-focus focus:outline-none focus:border-primary-100 transition-all duration-300 ease-in-out;
  }
  .btn{
    @apply   rounded-md  font-bold text-sm sm:text-md transition-all duration-300 ease-in-out
  }
  .btn__primary{
    @apply bg-primary-700 py-1 px-2 sm:py-1.5 sm:px-3 text-white hover:bg-primary-900 disabled:cursor-not-allowed disabled:bg-secondary-50/50
  }
  .btn__secondary{
    @apply border border-current font-normal py-1 px-2 text-xs
  }
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--vazir-font);
  min-height: 100vh;
  user-select: none;
  background-color: var(--background-app-rgb);
}
